{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    {% element h1 %}
        Sign up
    {% endelement %}
    {% setvar link %}
        <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
        </a>
    {% endsetvar %}
    {% element p %}
        {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
    {% endelement %}
    {% if not SOCIALACCOUNT_ONLY %}
        {% url 'account_signup' as action_url %}
        {% element form form=form method="post" action=action_url tags="entrance,signup" %}
            {% slot body %}
                {% csrf_token %}
                {{ form.non_field_errors | safe }}
                <input type='hidden' name='remember' value='true'/>
                <div>
                    <div>
                        {{ form.username.errors | safe}}
                        <label for="username" class="sr-only">Username</label>
                        {% comment %} {{ form.username }} {% endcomment %}
                        {% render_field form.username %}
                    </div>
                    <div>
                        {{ form.email.errors | safe }}
                        <label for="email" class="sr-only">Email</label>
                        {% comment %} {{ form.email }} {% endcomment %}
                        {% render_field form.email%}
                    </div>
                    <div>
                        {{ form.password1.errors | safe }}
                        <label for="password1" class="sr-only">Password</label>
                        {% comment %} {{ form.password1 }} {% endcomment %}
                        {% render_field form.password1 %}
                    </div>
                    <div>
                        {{ form.password2.errors | safe }}
                        <label for="password2" class="sr-only">Password</label>
                        {% comment %} {{ form.password2 }} {% endcomment %}
                        {% render_field form.password2 %}
                    </div>
                </div>
                {% endelement %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
                {% element button tags="prominent,signup" type="submit" %}
                    {% trans "Sign Up" %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    {% endif %}
    {% if PASSKEY_SIGNUP_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element button href=signup_by_passkey_url tags="prominent,signup,outline,primary" %}
            {% trans "Sign up using a passkey" %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}